*{
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
margin:0;
background-image:
linear-gradient(
rgba(5,8,22,0.85),
rgba(5,8,22,0.85)
),
url("fundo.jpg");

background-size:cover;
background-position:center;
background-attachment:fixed;

color:white;
}

header{
text-align:center;
padding:70px 20px;
}

h1{
font-size:45px;
}

h2{
font-size:32px;
}

p{
font-size:18px;
line-height:1.6;
}

.hero{
background:rgba(17,24,39,0.65);
text-align:center;
padding:90px 20px;
}

.btn{
display:inline-block;
background:#22c55e;
color:white;
padding:16px 35px;
border-radius:12px;
text-decoration:none;
margin-top:20px;
}

section{
padding:60px 10%;
text-align:center;
}

.cards{
display:flex;
gap:25px;
justify-content:center;
flex-wrap:wrap;
}

.cards div{
background:#1f2937;
padding:30px;
border-radius:18px;
width:280px;
}

footer{
text-align:center;
padding:30px;
background:#020617;
}
